#!/sbin/nft -f

# IPv4

table ip filter {
    chain input {
        type filter hook input priority 0; policy drop;
        tcp flags & (fin|syn) == (fin|syn) drop
        tcp flags & (syn|rst) == (syn|rst) drop
        tcp flags & (fin|syn|rst|psh|ack|urg) < (fin) drop
        tcp flags & (fin|syn|rst|psh|ack|urg) == (fin|psh|urg) drop
        ct state invalid counter drop comment "drop invalid packets"
        ct state {established, related} counter accept comment "accept all connections related to connections made by us"
        iifname $lo accept comment "accept loopback"
        iifname != $lo ip daddr 127.0.0.1/8 counter drop comment "drop connections to loopback not coming from loopback"
        iifname $int_if ip protocol icmp limit rate 10/second accept
        ip protocol icmp drop
        iifname $int_if tcp dport $int_tcp_ports counter accept
        iifname $int_if udp dport $int_udp_ports counter accept
        counter comment "count dropped packets"
    }

    chain output {
        type filter hook output priority 0; policy accept;
        counter comment "count accepted packets"
    }

    chain forward {
        type filter hook forward priority 0; policy drop;
        iifname $ext_if oifname $int_if ct state {established, related} counter accept comment "accept all connections related to connections made by us"
        iifname $int_if oifname $ext_if ct state {new, established, related} counter accept comment "accept all connections related to connections made by us"
    }
}

# IPv6

table ip6 filter {
    chain input {
        type filter hook input priority 0; policy drop;
        ct state invalid counter drop comment "drop invalid packets"
        ct state {new, established, related} counter accept comment "accept all connections related to connections made by us"
        iifname $int_if icmpv6 type echo-request accept
        icmpv6 type { nd-neighbor-advert, nd-neighbor-solicit, nd-router-advert} accept
        iifname $lo accept comment "accept loopback"
        iifname != $lo ip6 daddr ::1/128 counter drop comment "drop connections to loopback not coming from loopback"
        iifname $int_if tcp dport $int_tcp_ports counter accept
        iifname $int_if udp dport $int_udp_ports counter accept
        counter comment "count dropped packets"
    }

    chain output {
        type filter hook output priority 0; policy accept;
        counter comment "count accepted packets"
    }

    chain forward {
        type filter hook forward priority 0; policy drop;
        iifname $ext_if oifname $int_if ct state {established, related} counter accept comment "accept all connections related to connections made by us"
        iifname $int_if oifname $ext_if ct state {new, established, related} counter accept comment "accept all connections related to connections made by us"
    }
}
